@using System.Collections.Generic;
@using TodoRepositoryLibrary
@model List<TodoItem>

@{
    const string title = "Completed ToDo List";
    ViewBag.Title = title;
    Layout = "_Layout";
}

<h2>@title</h2>

<div class="list-group">
    @foreach (var todo in Model)
    {
        <div>
            @todo.Text
            <span class="label label-info"> @todo.DateCreated.ToLocalTime().ToLongDateString() </span>
            &nbsp;
            <span class="label label-danger"> @todo.DateCompleted.GetValueOrDefault().ToLocalTime().ToLongDateString(); </span>
            &nbsp;
            <a asp-action="CompleteTodo" asp-route-todoId="@todo.Id" title="Mark as Complete">
                <span class="glyphicon glyphicon-ok-sign"></span>
            </a>
        </div>
    }
</div>

<div>
    <a asp-action="Index" class="btn btn-default">Back</a>
</div>
